<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Novo Carro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 <nav class="navbar bg-primary border-bottom border-body justify-content-center">
           <a class="navbar-brand text-light" href="/">HOME</a>
      <a class="navbar-brand text-light"  href="/read">CADASTRADOS</a>
    </nav>
    <div class="container mt-5">
        <h1>Cadastrar Novo Carro</h1>
        <form action="/create" method="POST">
            <div class="form-group">
                <label>Marca:</label>
                <input type="text" name="marca" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Modelo:</label>
                <input type="text" name="modelo" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Ano:</label>
                <input type="text" name="ano" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Preço:</label>
                <input type="text" name="preco" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Categoria:</label>
                <input type="text" name="categoria" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Fabricante:</label>
                <input type="text" name="fabricante" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
        <a href="/read" class="btn btn-primary mt-3">Voltar para a Lista de Carros</a>
    </div>


</body>
</html>
