<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Carro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Detalhes do Carro</h1>

        {% if carro %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalhes do Carro</h5>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Marca:</strong> {{ carro.marca }}</li>
                    <li class="list-group-item"><strong>Modelo:</strong> {{ carro.modelo }}</li>
                    <li class="list-group-item"><strong>Ano:</strong> {{ carro.ano }}</li>
                    <li class="list-group-item"><strong>Preço:</strong> {{ carro.preco }}</li>
                    <li class="list-group-item"><strong>Categoria:</strong> {{ carro.categoria }}</li>
                    <li class="list-group-item"><strong>Fabricante:</strong> {{ carro.fabricante }}</li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Carro não encontrado.
        </div>
        {% endif

        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Voltar para a Lista de Carros</a>
    </div>
</body>
</html>
